<mat-card (click)="handleClick()" class="example-card" appearance="outlined">
    <mat-card-header class="mat-card-header1">
      <img [src]="img.path" height="135px" width="105px" alt="">
    </mat-card-header>
    <mat-card-content class="mat-card-content1">
      <div class="bookname">{{ bookName }}</div>
      <div class="atrName">{{ author }}</div>
      <div class="rating">
        <span class="ratingNum">{{ rating }} ★</span>
        <span style="color: #878787; font-size: 13px;">({{ ratedBy }})</span>
      </div>
      <div class="price">
        <span class="crtprice">Rs.{{ currentPrice }}</span>
        <span class="cancelled">Rs 2000</span>
      </div>
    </mat-card-content>
    <div id="outerDivQuick">
      <div class="quick">QUICK VIEW</div>
    </div>
    <div class="outOfStock" *ngIf="isOutOfStock(product.quantity)">
      <div class="outOfStockInDiv">OUT OF STOCK</div>
    </div>
  </mat-card>
  