<div style="margin: 30px 100px">
    <div class="head">
      <div>
        <span class="books">Books</span>
        <span class="nItems">(128 items)</span>
     </div>
     <div class="optiondiv">
        <select name="" id="" (change)="onFilterChange($event)">
            <option value="" disabled selected>Sort by relevence</option>
            <option value="Price">Price</option>
        <select name="" id="">
            <option value="" disabled selected>Sort by relevence</option>
            <option value="price">Price</option>
            <option value="Name">Name</option>
            <option value="Rating">Rating</option>
        </select>
    </div>
</div>
<div class="outerDiv" > 
 <div *ngFor="let number of numbers |  paginate: { itemsPerPage: 12, currentPage: page }">
   <mat-card class="example-card" appearance="outlined">
      <mat-card-header class="mat-card-header1">
          <img src="{{imgUrl}}" height="135px" width="105px" alt="">
      </mat-card-header>
      <mat-card-content class="mat-card-content1">
        <div class="bookname">{{bookName}}</div>
        <div class="atrName">{{Writername}}</div>
        <div class="rating" >
          <span class="ratingNum">{{rating}} ★</span>
          <span style="color: #878787; font-size: 13px;">({{ratedBy}})</span>
        </div>
        <div class="price">
          <span class="crtprice">Rs.{{currentPrice}}</span>
          <span class="cancelled">Rs {{2000}}</span>
        </div>
      </mat-card-content>
      <div id="outerDivQuick">
          <div class="quick">QUICK VIEW</div>
      </div>
      <div class="outOfStock">
          <div class="outOfStockInDiv">OUT OF STOCK</div>
      </div>
    </mat-card> 
  </div>
</div>
<div class="pages">
  <pagination-controls (pageChange)="onPageChange($event)"
   previousLabel="" nextLabel="" class="custom-pagination"></pagination-controls>
    <div *ngFor="let number of numbers |  paginate: { itemsPerPage: 12, currentPage: page }">
 <mat-card class="example-card" appearance="outlined" >
    <mat-card-header class="mat-card-header1">
        <img src="{{imgUrl}}" height="135px" width="105px" alt="">
    </mat-card-header>
    <mat-card-content class="mat-card-content1">
      <div class="bookname">{{bookName}}</div>
      <div class="atrName">{{Writername}}</div>
      <div class="rating" >
        <span class="ratingNum">{{rating}} ★</span>
        <span style="color: #878787; font-size: 12px;">({{ratedBy}})</span>
      </div>
      <div class="price">
        <span class="crtprice">Rs.{{currentPrice}}</span>
        <span class="cancelled">Rs {{2000}}</span>
      </div>
    </mat-card-content>
    <div id="outerDivQuick">
        <div class="quick">QUICK VIEW</div>
    </div>
    <div class="outOfStock">
        <div class="outOfStockInDiv">OUT OF STOCK</div>
    </div>
  </mat-card> 
</div>
</div>
<div class="pages">
  <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
</div>
</div>
