<!-- navBar -->
<!-- Breadcrum -->
<div style="width: 100%; display: flex; justify-content: center; padding-top: 2%;">
    <table>
        <thead>
            <th><b>My Wishlist (02)</b></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="book-container">
                        <img src="../../../assets/Image 11.png" alt="Don't make me Think" class="book-img">
                        <div class="book-info">
                            <h3 class="book-name">Don't make me think</h3>
                            <p class="author">by Steve Krung</p>
                            <div class="price-align">
                                <p class="price">Rs.1500</p>
                            <p class="discount">Rs.2000</p>
                        </div>
                    </div>
                    <div class="btn">
                        <img src="../../../assets/delete-black-18dp.svg">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="book-container">
                    <img src="../../../assets/Image 11.png" alt="Don't make me Think" class="book-img">
                    <div class="book-info">
                        <h3 class="book-name">Don't make me think</h3>
                        <p class="author">by Steve Krung</p>
                        <div class="price-align">
                        <p class="price">Rs.1500</p><p class="discount">Rs.2000</p>
                    </div>
                    </div>
                    <div class="btn">
                        <img src="../../../assets/delete-black-18dp.svg">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>