.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #A03037;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    z-index: 999;
  }
  
  .search-container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 3px;
    gap: 10px;
    padding-left: 16px;
    cursor: pointer;
  }
  
  
  .search-input {
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
  }
  .mat-badge-content {
    background: #FFFFFF;
    border: rgb(221, 218, 218);
    border-style: solid;
    color: #A03037;
  }
  .user-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .profiles, .cart {
    height: 56px;
    width: 75px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1.25px solid #8F2B2F;
    border-right: 1.25px solid #8F2B2F;
    p {
        margin: 0;
    }
  }
  .cart {
    gap: 4px;
  }
  
.dialog-authenticated {
  position: absolute;
  width: 20%;
  height: auto;
  top: 64px;
  right: 5%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  * {
      margin-left: 8%;
  }

  :first-child {
      font: normal normal medium 12px/16px Roboto;
      letter-spacing: 0px;
      color: #0A0102;
      font-weight: 800;
      margin-top: 3%;
      margin-left: 10%;
  }

  .profile,
  .my_orders,
  .wishlist {
      font: normal normal normal 12px/16px Roboto;
      display: flex;
      color: #878787;
      align-items: center;
      cursor: pointer;

      mat-icon {
          color: #878787;
          margin-top: 0;
          margin-bottom: 4.5%;
      }

      height: auto;
  }

  button {
      border: 1px solid #A03037;
      border-radius: 2px;
      width: 123px;
      height: 33px;
      margin-top: 0;
      margin-left: 15%;
      font: normal normal normal 12px/16px Roboto;
      letter-spacing: 0px;
      color: #A03037;
  }
}

.dialog-not-authenticated {
  width: 18%;
  height: auto;
  position: absolute;
  top: 64px;
  left: 72%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 10;

  .my_orders {
      padding-top: 2%;
  }

  .my_orders,
  .wishlist {
      font: normal normal normal 12px/16px Roboto;
      display: flex;
      color: #878787;
      align-items: center;
      cursor: pointer;
      margin-left: 7%;
      margin-top: 0.2%;

      mat-icon {
          font-size: 20px;
          color: #878787;
          margin-top: 0;
          margin-bottom: 4.5%;
          margin-right: 1%;
      }
  }

  .welcome-login-signup {
      margin-left: 8%;
      margin-right: 5%;
      padding-bottom: 5%;
      margin-bottom: 3%;
      margin-top: 3%;
      border-bottom: 1px solid gray;

      :first-child {
          font: normal normal medium 12px/16px Roboto;
          letter-spacing: 0px;
          color: #0A0102;
          font-weight: 800;
      }

      :nth-child(2) {
          font: normal normal normal 12px/16px Roboto;
          letter-spacing: 0px;
          color: #878787;
      }

      button {
          border: 1px solid #A03037;
          border-radius: 2px;
          width: 123px;
          height: 33px;
          margin-top: 0;
          margin-left: 0;
          font: normal normal normal 12px/16px Roboto;
          letter-spacing: 0px;
          color: #A03037;
      }
  }

}
@media screen and (max-width:700px) {

  .dialog-not-authenticated {
      width: 40%;
      height: auto;
      position: absolute;
      top: 64px;
      left: 55%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      z-index: 10;
  
      .my_orders {
          padding-top: 2%;
      }
  
      .my_orders,
      .wishlist {
          font: normal normal normal 12px/16px Roboto;
          display: flex;
          color: #878787;
          align-items: center;
          cursor: pointer;
          margin-left: 7%;
          margin-top: 0.2%;
  
          mat-icon {
              font-size: 20px;
              color: #878787;
              margin-top: 0;
              margin-bottom: 4.5%;
              margin-right: 1%;
          }
      }
  
      .welcome-login-signup {
          margin-left: 8%;
          margin-right: 5%;
          padding-bottom: 5%;
          margin-bottom: 3%;
          margin-top: 3%;
          border-bottom: 1px solid gray;
  
          :first-child {
              font: normal normal medium 12px/16px Roboto;
              letter-spacing: 0px;
              color: #0A0102;
              font-weight: 800;
          }
  
          :nth-child(2) {
              font: normal normal normal 12px/16px Roboto;
              letter-spacing: 0px;
              color: #878787;
          }
  
          button {
              border: 1px solid #A03037;
              border-radius: 2px;
              width: 90%;
              height: 33px;
              margin-top: 0;
              margin-left: 0;
              font: normal normal normal 12px/16px Roboto;
              letter-spacing: 0px;
              color: #A03037;
          }
      }
  
  }

}