<div class="navbar">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    "
  >
    <img class="logo" src="../../../assets/logo.svg" alt="BookStore Logo" />
    <span style="font: normal 20px/26px Roboto; color: #ffffff">BookStore</span>
  </div>
  <div class="search-container">
    <span class="material-symbols-outlined"> search </span>
    <input type="text" class="search-input" placeholder="Search..." />
  </div>
  <div class="user-cart">
    <div class="profile">
      <span class="material-symbols-outlined">person </span>
      <p>Profile</p>
    </div>
    <div class="cart">
      <div matBadge="7" style="width: 50%; display: flex; justify-content: center;">
        <img src="../../../assets/supermarket.svg" alt="cartIcon" />
      </div>
      <p>Cart</p>
    </div>
  </div>
</div>
