<app-navbar></app-navbar>
<div class="book-details">
  <div class="small-image-left">
    <div class="small-image-div">
      <img src="{{ book.bookImage.path }}" alt="" />
    </div>
    <div class="small-image-div">
      <img src="{{ book.bookImage.other_path }}" alt=""/>
    </div>
  </div>
  <div class="large-image-div">
    <div class="large-image">
      <img width="281px" height="367px" src="{{ book.bookImage.path }}" alt="" />
    </div>
    <div class="buttons">
      <button mat-raised-button [routerLink]="['/cart']">ADD TO BAG</button>
      <button mat-raised-button [routerLink]="['/wishlist']">
        <mat-icon>favorite</mat-icon>WISHLIST
      </button>
    </div>
  </div>
  <div class="right-content">
    <div class="right-content-top">
      <p style="font: normal normal normal 28px/37px Roboto">
        {{ book.bookName }}
      </p>
      <p style="font: normal normal normal 18px/24px Roboto; color: #878787">
        by {{ book.author }}
      </p>
      <div class="rating-discount">
        <div class="rating">
          <p>4.5</p>
          <p><mat-icon style="width: 20px; height: 20px">star</mat-icon></p>
        </div>
        <p style="margin-top: 2%; margin-left: 2%; color: #878787">
          ({{ book.quantity }})
        </p>
      </div>
      <div class="price">
        <p>Rs. {{ book.discountPrice }}</p>
        <p>Rs. {{ book.price }}</p>
      </div>
    </div>
    <div class="right-content-center">
      <p style="color: #878787; font: normal normal normal 15px/20px Roboto">
        .Book Detail
      </p>
      <p style="font: normal normal normal 12px/16px Roboto; color: #373434">
        An exhilarating journey through uncharted territories, filled with
        mystery and excitement. Perfect for adventure lovers, this novel takes
        readers on a thrilling adventure where every page is packed with
        unexpected twists and turns. Follow the protagonist as they navigate
        through dense forests, scale towering mountains, and uncover hidden
        secrets that have been buried for centuries. Along the way, they
        encounter a diverse cast of characters, each adding depth and intrigue
        to the story. With vivid descriptions and a fast-paced plot, this book
        is sure to keep you on the edge of your seat from start to finish.
      </p>
    </div>
    <div class="right-content-bottom">
      <p style="font: normal normal normal 18px/24px Roboto">
        Customer Feedback
      </p>
      <div class="feedback">
        <p class="overall_rating">Overall rating</p>
        <div class="stars">
          <mat-icon *ngFor="let i of [0, 1, 2, 3, 4]" (click)="onStarClick(i)" [ngClass]="{'selected': stars[i]}">star_outline</mat-icon>
        </div>
        <textarea placeholder="Write your review" [(ngModel)]="comment"></textarea>
        <button mat-raised-button (click)="addReview()">Submit</button>
      </div>
      <div class="reviews">
        <div class="review" *ngFor="let feedback of feedbacks">
          <div class="profile_name">
            <mat-icon>account_circle</mat-icon>
            <p>{{ feedback.userName }}</p>
          </div>
          <div class="stars">
            <mat-icon *ngFor="let i of getNumbers(feedback.rating)">star</mat-icon>
            <mat-icon *ngFor="let i of getNumbers(5 - feedback.rating)">star_outline</mat-icon>
          </div>
          <p class="desc">{{ feedback.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
