<body>
    <div class="container">
        <h2 style="text-align: center; color: #0A0102;">Forgot Your Password ?</h2>
        <div class="main-container">
            <div class="email-id">
                    <p>Enter your email address and we'll send you <br>a link to reset yout password.</p>
                    <label for="text">Email Id:</label>
                    <input type="text" name="email" placeholder="Enter your email-id"><br>
                    <button type="button" id="reset-pass">Reset Password</button>
                
            </div>
            <div class="create-account"><b>CREATE ACCOUNT</b></div>
        </div>
    </div>
    </body>

    