.container{
    display: block;
    justify-content: center;
    margin-top: 1%;
    
}
.main-container{
        display: flex;
        gap: 20px;
        width: 70%;
        height: auto;
        margin-left: 15%;
        border: 1px solid #bab5b5;
        background-color: #FCFCFC;
        justify-content: space-around;
        margin-bottom: 1%;
}
.book-info{
    flex: 1;
    font-family: Roboto,Regular;
    p,h3{
        margin: 10px 0;
    }
}
.book-img{
    width: 100px;
}
.price-align{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discount{
    text-decoration: line-through;
    color: #9D9D9D;
    font-size: 12px;
    display: block;
    padding-left: 5%;
    padding-top: 0.3%;
}
.author{
    color: #9D9D9D;
    font-size: 12px;
}
.book-name{
    color: #0A0102;
    font-size: 18px;
}
.price{
    color: #0A0102;
    font-size: 15px;
}
.circle{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 100%;
}
.order-desc{
    padding-top: 20px;
    margin-right: 20px;
}
.order{
    color: #0A0102;
    font-size: 15px;
    font-family: Roboto,Regular;
}