<div style="height: 100vh;">

    <app-navbar></app-navbar>
    <div class="container">
    <h1 style="margin-left: 185px; margin-bottom: 30px; font-weight: 700; font-family: Roboto;">My Orders</h1>
    <div class="main-container">
        <img src="../../../assets/Image 11.png" alt="Don't make me Think" class="book-img">
        <div class="book-info">
            <h3 class="book-name">Don't make me think</h3>
            <p class="author">by Steve Krung</p>
            <div class="price-align">
            <p class="price">Rs.1500</p><p class="discount">Rs.2000</p>
        </div>
        </div>
        <div class="order-desc">
            <div style="display: flex; gap: 10px; align-items: center;">
                <div class="circle">
                </div>
                <span class="order"><b>Order Placed on May 21</b></span>
            </div>
        </div>
    </div>

    <div class="main-container">
        <img src="../../../assets/Image 36.png" alt="React material-UI" class="book-img">
        <div class="book-info">
            <h3 class="book-name">React material-UI</h3>
            <p class="author">by Cookbook</p>
            <div class="price-align">
                <p class="price">Rs.780</p><p class="discount">Rs.1000</p>
            </div>
        </div>
        <div class="order-desc">
            <div style="display: flex; gap: 10px; align-items: center;">
                <div class="circle">
                </div>
                <span class="order"><b>Order Placed on April 06</b></span>
            </div>
        </div>
    </div>
    <div class="main-container">
        <img src="../../../assets/Image 11.png" alt="Don't make me Think" class="book-img">
        <div class="book-info">
            <h3 class="book-name">Don't make me think</h3>
            <p class="author">by Steve Krung</p>
            <div class="price-align">
            <p class="price">Rs.1500</p><p class="discount">Rs.2000</p>
        </div>
    </div>
        <div class="order-desc">
            <div style="display: flex; gap: 10px; align-items: center;">
                <div class="circle">
                </div>
                <span class="order"><b>Order Placed on May 21</b></span>
            </div>
        </div>
    </div>
</div>
<div style="width: 1px; height: 100px;"></div>
<app-footer></app-footer>
    </div>