<app-navbar></app-navbar>
<div class="image1">
    <div style="margin-top: 5%;"></div>
    <img src="../../../assets/Screenshot 2024-08-28 114551.png" alt="">
    <p class="classy"><b>Order Placed Successfully</b></p>
    <img src="../../../assets/Screenshot 2024-08-28 114616 - Copy.png" alt="">
    <div class="text">
        hurry!!! your order is confirmed <br> the order id is # 123456 save the order id for <br> further communication
    </div>
    <table style="border-collapse: collapse; background-color: #dcdcdc; height: 5%;">
        <thead style="background-color: #fafafa; border-top: 1px solid #DCDCDC;">
            <tr style="width: 5px; height: 40px;">
                <th>Email Us</th>
                <th>Contact Us</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #DCDCDC; text-align: center;">abc&#64;gmail.com</td>
                <td style="border: 1px solid #DCDCDC; text-align: center;">+91 8765432123</td>
                <td style="border: 1px solid #DCDCDC; text-align: center;">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,Bangalore 560034</td>
            </tr>
        </tbody>
    </table>
    <button class="btn">
        CONTINUE SHOPPING
    </button>
</div>